html,
body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}


/* Chart */


#chart__3zRzw {
    background-color: #fbfbfb;
    height: 100%;
    width: 100%;
    white-space: pre;
}


.ref__3QkNV {
    fill: none;
}


.visible-path__2KWoL {
    stroke: #d3d3d3;
    stroke-width: 1;
}


.hidden-path__1-92X {
    stroke-width: 3;
    stroke: rgba(0, 0, 0, 0);
}


.no-select__23DU8 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    mozuserselect: none;
    -ms-user-select: none;
    -moz-user-select: none;
         user-select: none;
}


.table-header__ies-N {
    fill: #316896;
    cursor: -webkit-grab;
    cursor: grab;
}


.table-header__ies-N:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}


.table-header__ies-N text {
    fill: white;
    font-weight: bold;
}


.field__3wFlq rect {
    fill: #f6f6f6;
}


.field-name__3JbIC {
    fill: #6f6f6f;
    font-size: 12px;
}


.field-type__2auxT {
    font-size: 12px;
    fill: #999999 !important;
    text-anchor: end;
}


.primary-key__2rb54 .field-type__2auxT {
    font-weight: 700;
}


.primary-key__2rb54 .field-name__3JbIC {
    font-weight: 700;
    fill: #000000;
}


.highlight-ref__22qdt .visible-path__2KWoL {
    stroke: #619bcc;
    stroke-width: 3;
}


.highlight-field__orbKi rect {
    fill: #deecf3;
}


.endpoint__2SumS {
    fill: black;
    font-size: 10px;
    text-anchor: middle;
}


.hidden__CpMjb {
    display: none;
}


.temp-ref__1hYqK path {
    stroke-width: 1;
    stroke: darkblue;
    stroke-dasharray: 4 2;
    animation: dash__W_gvM 10s linear 0s infinite reverse;
}


.temp-ref-invalid__303AS {
    cursor: not-allowed;
}


.temp-ref-src__3J5Ho rect,
.temp-ref-dest__1iafr rect {
    fill: LightSkyBlue;
}
td {
    height: 20px
}

td:focus,
td.active__2-xXx {
    background-color: aquamarine;
}
